<html>
    <body bgcolor=#89CFF0>

        <center>

        <!-- <h1> SIMILAR QUESTION DETECTION </h1><br>
        <form method="POST", action="{{url_for('home')}}">
            <b> First question :  <input type="text", name='a', placeholder="enter 1"> <br><br>
             Second question :  <input type="text", name='b', placeholder="enter 2"> <br><br>
            
             <input type="submit" , value='confirm' >
         </form> -->

    <!-- redirect to login page-->
        <a href="{{url_for('login')}}">Login page  </a>
    </center>

    </body>
</html>
